---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people::(email=yy@zz.com,email=xx@yy.com):(id)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="eq8g0jFLe2FsDxO255PW6UqoZ8lwJAqiIJCm3qEKF8",
        oauth_signature="D1xMNnx7aOxDotnPt1mtEdbJPlU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631656", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: ok
    headers:
      X-Li-Request-Id:
      - QG386P3UQ9
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
      X-Li-Uuid:
      - gNIS8z8GSRNwtDkbISsAAA==
    body:
      encoding: UTF-8
      string: ! "{\"_total\": 2,\"values\": [{
          \"_key\": \"email=yy@zz.com\",\"id\": \"96GVfLeWjU\"},{
          \"_key\": \"email=xx@yy.com\",\"id\": \"10CGfLfLhI\"}]}"
  recorded_at: Mon, 13 Jan 2014 21:33:51 GMT