---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/company-search?keywords=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="xtc6RIIOpDj7AANJ9VyIXibv4YhcM3gxMUg6OewBSo",
        oauth_signature="8ShrnvC9fxh1tU3YNEjF4l%2Fhrho%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631653", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - 5LR8OTP90S
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"companies\": {\n    \"_count\": 10,\n    \"_start\": 0,\n
        \"_total\": 8450,\n    \"values\": [\n      {\n        \"id\": 162479,\n
        \"name\": \"Apple\"\n      },\n      {\n        \"id\": 19271,\n        \"name\":
        \"Apple Vacations\"\n      },\n      {\n        \"id\": 778626,\n        \"name\":
        \"Big Apple Holdings, Inc. dba Big Apple International Realty\"\n      },\n
        {\n        \"id\": 112136,\n        \"name\": \"Apple & Associates\"\n
        },\n      {\n        \"id\": 772044,\n        \"name\": \"Stone Apple
        Solutions\"\n      },\n      {\n        \"id\": 2135525,\n        \"name\":
        \"iSquare - Apple Authorized Distributor in Greece & Cyprus\"\n      },\n
        {\n        \"id\": 2303504,\n        \"name\": \"Filex Apple Store &
        Support\"\n      },\n      {\n        \"id\": 2419290,\n        \"name\":
        \"Apple Nieuws Vlaanderen\"\n      },\n      {\n        \"id\": 2260437,\n
        \"name\": \"OGGO - Services Apple Macintosh\"\n      },\n      {\n
        \"id\": 1049054,\n        \"name\": \"Apple Crumble\"\n      }\n    ]\n
        },\n  \"facets\": {\n    \"_total\": 1,\n    \"values\": [{\n      \"buckets\":{\n
        \"_total\": 10,\n        \"values\": [\n          {\n            \"code\":
        \"us:0\",\n            \"count\": 2511,\n            \"name\": \"United States\",\n
        \"selected\": false\n          },\n          {\n            \"code\":
        \"gb:0\",\n            \"count\": 702,\n            \"name\": \"United Kingdom\",\n
        \"selected\": false\n          },\n          {\n            \"code\":
        \"us:84\",\n            \"count\": 322,\n            \"name\": \"San Francisco
        Bay Area\",\n            \"selected\": false\n          },\n          {\n
        \"code\": \"us:70\",\n            \"count\": 285,\n            \"name\":
        \"Greater New Y[...]
