---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/company-search?facets=industry&keywords=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="FU07WVy5LyepRG8O99eNUI0fqIxdghVO9gXhSQAOA",
        oauth_signature="51O%2BsP4hpjq93vwrFm2zrox0xfI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631653", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - G21FIZ5M8V
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"companies\": {\n    \"_count\": 10,\n    \"_start\": 0,\n
        \"_total\": 8450,\n    \"values\": [\n      {\n        \"id\": 162479,\n
        \"name\": \"Apple\"\n      },\n      {\n        \"id\": 19271,\n        \"name\":
        \"Apple Vacations\"\n      },\n      {\n        \"id\": 778626,\n        \"name\":
        \"Big Apple Holdings, Inc. dba Big Apple International Realty\"\n      },\n
        {\n        \"id\": 112136,\n        \"name\": \"Apple & Associates\"\n
        },\n      {\n        \"id\": 772044,\n        \"name\": \"Stone Apple
        Solutions\"\n      },\n      {\n        \"id\": 2135525,\n        \"name\":
        \"iSquare - Apple Authorized Distributor in Greece & Cyprus\"\n      },\n
        {\n        \"id\": 2303504,\n        \"name\": \"Filex Apple Store &
        Support\"\n      },\n      {\n        \"id\": 2419290,\n        \"name\":
        \"Apple Nieuws Vlaanderen\"\n      },\n      {\n        \"id\": 2260437,\n
        \"name\": \"OGGO - Services Apple Macintosh\"\n      },\n      {\n
        \"id\": 1049054,\n        \"name\": \"Apple Crumble\"\n      }\n    ]\n
        },\n  \"facets\": {\n    \"_total\": 1,\n    \"values\": [{\n      \"buckets\":{\n
        \"_total\": 10,\n        \"values\": [\n          {\n            \"code\":
        \"96\",\n            \"count\": 2062,\n            \"name\": \"Information
        Technology and Services\",\n            \"selected\": false\n          },\n
        {\n            \"code\": \"4\",\n            \"count\": 1031,\n
        \"name\": \"Computer Software\",\n            \"selected\": false\n
        },\n          {\n            \"code\": \"6\",\n            \"count\":
        472,\n            \"name\": \"Internet\",\n            \"selected\": false\n
        },\n          {\n            \"code\": \"3\",\n            \"count\":
        415,\n            \"name\": \"Computer Hardware\",\n            \"selected\":
  [...]
