---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people::(email=aa@bb.com):(id)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="key", oauth_nonce="Ny9c0n0y0Eg7cnVjVbUlDPeQap8qjzhdPNY3sAi5K8",
        oauth_signature="vd%2Fd5TC906HXqp50%2BRUT3ZeHC2E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389716461", oauth_token="key", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - X1OTF3POH3
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
      X-Li-Uuid:
      - iD/VocFDSROQ7fHxASsAAA==
    body:
      encoding: UTF-8
      string: ! "{\"errorCode\": 0,\"message\": \"Access to member by email address denied\",
          \"requestId\": \"BRSUSQTPPW\",
          \"status\": 403,
          \"timestamp\": 1389727130475}"
  recorded_at: Tue, 14 Jan 2014 16:21:01 GMT