---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people-search?keywords=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="DlBgAEJHkDYAnMMZwzFObsUNcCmRbzFldB4dV1yeE",
        oauth_signature="RLiPr%2FC1bq9Dv29W3mjezy1of54%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631655", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - 5BE8O0G2CK
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"numResults\": 6,\n  \"people\": {\n    \"_total\": 6,\n    \"values\":
        [\n      {\n        \"firstName\": \"Shay\",\n        \"id\": \"ucXjUw4M9J\",\n
        \"lastName\": \"Frendt\"\n      },\n      {\n        \"firstName\":
        \"Scott\",\n        \"id\": \"t6mvVsY3df\",\n        \"lastName\": \"Smith\"\n     },\n      {\n
        \"firstName\": \"Philip\",\n        \"id\": \"ZeSnXwtz6Y\",\n
        \"lastName\": \"Corliss\"\n      },\n      {\n        \"firstName\":
        \"Jay\",\n        \"id\": \"i24wDA2GrH\",\n        \"lastName\": \"Beavers\"\n},\n      {\n
        \"firstName\": \"Chris\",\n        \"id\": \"SJBelisgHh\",\n
        \"lastName\": \"Wiswell\"\n      },\n      {\n        \"firstName\":
        \"Satish\",\n        \"id\": \"V1FPuGot-I\",\n        \"lastName\": \"Talim\"\n}\n    ]\n  }\n}"
  recorded_at: Tue, 04 Jun 2013 03:42:37 GMT
recorded_with: VCR 2.5.0
