---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people::(email=yy@zz.com):(id)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="key", oauth_nonce="KkLqrO8OnlnRKJFUnwnHvyDpmT5lzyVuPPU38MHKXE",
        oauth_signature="kR6yrOhUD3SUay3k2bP2YdxwB6U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389649903", oauth_token="key", oauth_version="1.0"
  response:
    status:
      code: 200
      message: ok
    headers:
      X-Li-Request-Id:
      - 4506AHDFV4
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
      X-Li-Uuid:
      - SCj2pjkHSRPw0yJYdCsAAA==
    body:
      encoding: UTF-8
      string: ! "{\"_total\": 1,\"values\": [{
          \"_key\": \"email=yy@zz.com\",\"id\": \"96GVfLeWjU\"}]}"
  recorded_at: Mon, 13 Jan 2014 21:51:44 GMT