---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people-search:(people:(id,first-name,last-name,public-profile-url,picture-url),num-results)?first-name=Giliardi&last-name=Pires
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="XxYZ3yqoTFr792YTu6TmJPFCrrkZejwXkORldtyZGI",
        oauth_signature="cBkWRwhVxBDozgn5sCXBwGIoer4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631657", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Request-Id:
      - G0J3Z1XF1E
      X-Li-Format:
      - json
    body:
      encoding: UTF-8
      string: ! "{\n  \"numResults\": 0,\n  \"people\": {\"_total\": 0}\n}"
  recorded_at: Tue, 04 Jun 2013 03:42:37 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people-search:(people:(id,first-name,last-name,public-profile-url,picture-url),num-results)?first-name=Charles&last-name=Garcia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="apcqck1ATxZYGou1ynnfBm6OgZFBz4TXKeuPo160NU",
        oauth_signature="zB0MtadBiOOL2rAX%2FdHn71fZyOA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631934", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Request-Id:
      - 7A7TZHN5V9
      X-Li-Format:
      - json
    body:
      encoding: UTF-8
      string: ! "{\n  \"numResults\": 308,\n  \"people\": {\n    \"_count\": 10,\n
        \"_start\": 0,\n    \"_total\": 110,\n    \"values\": [\n      {\n        \"firstName\":
        \"Charles\",\n        \"id\": \"2zk34r8TvA\",\n        \"lastName\": \"Garcia, CFA\",\n
        \"publicProfileUrl\": \"http://www.linkedin.com/in/charlesgarcia\"\n},\n      {\n
        \"firstName\": \"Charles R.\",\n        \"id\":
        \"NjwO1vU6P6\",\n        \"lastName\": \"Garcia Jr.\",\n        \"pictureUrl\":
        \"http://m3.licdn.com/mpr/mprx/0_eyd5KukV6r4QDft-oYwsKfzsXqyWSdi-oUjVKaLVRAeMtSqtXsJWOmlqospnaaGOWxIUxWUUfdKb\",\n
        \"publicProfileUrl\": \"http://www.linkedin.com/in/knightwealthmanagement\"\n},\n      {\n
        \"firstName\": \"Charles\",\n        \"id\": \"j8ZczJo44W\",\n
        \"lastName\": \"Garcia-Tobin\",\n        \"publicProfileUrl\":
        \"http://www.linkedin.com/pub/charles-garcia-tobin/1/407/37\"\n },\n      {\n
        \"firstName\": \"Charles\",\n        \"id[...]
