---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/company-search:(companies:(id,name,industries,description,specialties),num-results)?keywords=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="mpibxdpwbwry", oauth_nonce="XIAUlVH3VfeqacvVEQzCvdLSyy9swruF3mouF9mtc",
        oauth_signature="ggZObnJ1w5zMIBixfluGoUYZVSg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365631654", oauth_token="d9f69cd6-f3f3-4c26-9f2c-12cd8e228089",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - 68RH2HSO61
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{ \"companies\": { \"_count\": 10, \"_start\": 0, \"_total\": 8450, \"values\": [ { \"description\": \"Apple designs Macs, the best personal computers in the world, along with OS X, iLife, iWork and professional software. Apple leads the digital music revolution with its iPods and iTunes online store. Apple has reinvented the mobile phone with its revolutionary iPhone and App Store, and is defining the future of mobile media and computing devices with iPad.\", \"id\": 162479, \"industries\": { \"_total\": 1, \"values\": [{ \"code\": \"24\", \"name\": \"Consumer Electronics\" }] }, \"name\": \"Apple\", \"specialties\":{ \"_total\": 4, \"values\": [ \"Innovative product development\", \"world class operations\", \"Retail\", \"Telephone Support\" ] } }, { \"description\": \"Experience the Difference. \\r\\nFor over 40 years, Apple Vacations has provided the most value in vacations to millions of people. Throughout the years, we\\u2019ve provided what you want in a vacation \\u2013 great service, convenience, and value. We understand just how important your vacation is. We know because, like you, vacations are i[...]
